@tailwind base;
@tailwind components;
@tailwind utilities;

div.bottomSheetKnob::before {
  position: absolute;
  content: '';
  display: block;
  width: 36px;
  height: 4px;
  top: calc(8px + env(safe-area-inset-top));
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: var(--rsbs-handle-bg, hsla(0, 0%, 0%, 0.14));
}